main {
    position: relative;

    & > section {
        height: ~"calc(100% - @{height_nav-main})";
        box-sizing: border-box;
        padding: 0 2rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
}