section[data-page="front"]{

    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;

    .row {

        flex-shrink: 0;
        max-width: (650/@rem) * 1rem;
        width: 100%;

        &.horizontal {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }

        h2, i {
            flex: 0 0 auto;
        }
        i {
            display: block;
        }

        i.loading {
            @size_loading: (60/@rem) * 1rem;
            @size_loaded: (190/@rem) * 1rem;

//            @keyframes open-button {
//                from {
//                    width: @size_loading;
//                }
//                to {
//                    width: @size_loaded;
//                }
//            }

            @svg2rem: @size_loading / @canvas_width;
            @div_offset: (@canvas_width - (@loading_r * 2 + @stroke_width)) * @svg2rem / 2;
            @div_size: (@loading_r * 2 + @stroke_width) * @svg2rem;
            @duration_fadeout: .5s;
            margin: 1rem;
            height: @size_loading;
            width: @size_loading;
            position: relative;
            overflow: hidden;
            transition: width @duration_fadeout ease-in-out @duration_fadeout;
            @import "loading-circle";
            @import "loaded-button";

            &[data-loaded="100"] {
                circle {
                    stroke-dasharray: 0, 0, 1000;
                    animation: none;
                    opacity: 0;
                }
                button.go, .overlay button.go p {
                    opacity: 1;
                }
                width: @size_loaded;
            }
        }

        h2 {
            height: (27/@rem) * 1rem;
            width: (166/@rem) * 1rem;
        }
    }

    &::before, &::after{
        content: '';
        display: block;
        flex: 1 0 0;
    }

    h1, h2 {
        path {
            fill: @ink;
        }
    }

    @import "face";

}