nav.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @height_nav-main;
    z-index: 1;
    background-color: @light;
    background-image: url('../images/mark.svg');
    .bg(contain, center left);

    ul {
        font-size: 0;
        padding: 0 0 0 (@height_nav-main + .67 * @gap_nav-items);

        li {
            display: inline-block;
            .lato(1, regular);
            text-transform: uppercase;
            height: @height_nav-main;
            line-height: @height_nav-main;

            body[data-displaying="about"] & a[href="#about"],
            body[data-displaying="portfolio"] & a[href="#portfolio"] {
                .lato_weight(black);
            }

            a {
                display: inline-block;
                height: 100%;
                padding: 0 @gap_nav-items;
                transition: background-color @quick linear;
            }

            &:hover a, a:focus {
                background-color: fade(white, 67%);
            }
        }
    }
}
