section.one-up {
    height: 0;
    overflow: hidden;
    position: relative;

    @size_nav: @height_nav-main * @r2;
    @size_nav-pip: @height_nav-main;

    .gallery, article.oeuvre {
        height: 100%;
        width: 100%;
    }

    .gallery {
        display: flex;
        flex-flow: row nowrap;
    }

    article.oeuvre {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
    }

    &.active {
        height: 100%;
        box-sizing: border-box;
        padding-bottom: @size_nav;

        figure, div.copy {
            flex: 0 0 auto;
        }

        figure {
            &, img, video {
                width: 100%;
            }

            img, video {
                position: static;
                max-width: 100%;
                height: auto;
            }
        }

        div.copy {
            width: 100%;
        }

    }

    nav.project {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: @size_nav;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            background-color: fade(white, 67%);
            background-clip: content-box;
            box-sizing: border-box;
            height: @size_nav-pip;
            width: @size_nav-pip;
            flex: 0 0 auto;
            .circular();
            .bg(50%);
            margin: (@size_nav-pip/8);
            &.up {
                background-image: url('../images/up.svg');
            }
            &.next {
                background-image: url('../images/next.svg');
            }
        }

        ul {
            flex: 0 1 auto;
            height: 100%;
            display: flex;
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;

            li {
                flex: 0 0 auto;

                a {
                    display: block;
                    height: @size_nav-pip;
                    width: @size_nav-pip;
                    margin: (@size_nav-pip/8);
                    background-color: lighten(@ink, 33%);
                    background-blend-mode: multiply;
                    .circular();
                    .bg();
                    .hover-shadow(fade(@red, 20%));
                    transition: height @quick ease, width @quick ease, box-shadow @quick ease;

                    &:hover, &:focus {
                        .hover-shadow-active(fade(@red, 20%));
                    }
                }
            }
        }
    }

    .highlight-nav-item(@i) when (@i > 0) {
        &[data-active="@{i}"]{
            nav.project ul li:nth-child(@{i}) a {
                .active-shadow(fade(@red, 80%));
            }
        }
        .highlight-nav-item(@i - 1);
    }
    .highlight-nav-item(10);

    img, video {
        position: fixed;
        width: 1rem;
        height: 1rem;
        top: -10rem;
        left: -10rem;
    }

}