section.one-up {
    height: 0;

    &.active {
        height: 100%;
    }

    img, video {
        position: fixed;
        width: 1rem;
        height: 1rem;
        top: -10rem;
        left: -10rem;
    }

}