nav.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @height_nav-main;
    z-index: 1;
    background-color: @chrome;
    font-size: 0;

    i.logo {
        display: inline-block;
        height: @height_nav-main;
        width: @height_nav-main;

        svg {
            width: 100%;
            height: auto;
        }
    }

    i.logo, ul, ul li {
        vertical-align: top;
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;
            .lato(1, light);
            text-transform: uppercase;
            height: @height_nav-main;
            line-height: @height_nav-main;

            body[data-displaying="about"] & a[href="#about"],
            body[data-displaying="portfolio"] & a[href="#portfolio"] {
                .lato_weight(regular);
                background-color: fade(@chrome, 50%);
            }

            a {
                color: white;
                display: inline-block;
                height: 100%;
                padding: 0 @gap_nav-items;
                transition: background-color @quick linear;
                text-decoration: none;
                letter-spacing: .06em;
            }

            &:hover a {
                background-color: fade(@chrome, 25%);
            }
        }
    }
}
