@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);

@font-face {
    font-family: 'willshown-icons';
    src: url('fonts/willshown-icons.eot?94993757');
    src: url('fonts/willshown-icons.eot?94993757#iefix') format('embedded-opentype'),
    url('fonts/willshown-icons.woff?94993757') format('woff'),
    url('fonts/willshown-icons.ttf?94993757') format('truetype'),
    url('fonts/willshown-icons.svg?94993757#willshown-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@rem: 16px;
@growth: @r2;
@htworg: @rr2;

.lato_weight(light){
    font-weight: 300;
};
.lato_weight(regular){
    font-weight: 400;
};
.lato_weight(bold){
    font-weight: 700;
};
.lato_weight(black){
    font-weight: 900;
};

.lato_size(@size: 1){
    font-size: pow(@growth, (@size - 1)) * 1rem;
    line-height: 1 + (0.2 * pow(@htworg, (@size - 1)));
}

.lato(@size: 1, @weight: regular){
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    .lato_size(@size);
    .lato_weight(@weight);
}

.icons(){
    font-family: 'willshown-icons', symbol;
}

html {
    text-rendering: optimizeLegibility;
    font-size: @rem;
}

body {
    .lato();
}