@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);

@font-face {
    font-family: 'entypo';
    font-style: normal;
    font-weight: normal;
    src: url('../images/entypo.eot');
    src: url('../images/entypo.eot?#iefix') format('eot'),
    url('../images/entypo.woff') format('woff'),
    url('../images/entypo.ttf') format('truetype'),
    url('../images/entypo.svg#entypo') format('svg');
}

@rem: 16px;
@growth: @r2;
@htworg: @rr2;

.lato_weight(light){
    font-weight: 300;
};
.lato_weight(regular){
    font-weight: 400;
};
.lato_weight(bold){
    font-weight: 700;
};
.lato_weight(black){
    font-weight: 900;
};

.lato_size(@size: 1){
    font-size: pow(@growth, (@size - 1)) * 1rem;
    line-height: 1 + (0.2 * pow(@htworg, (@size - 1)));
}

.lato(@size: 1, @weight: regular){
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    .lato_size(@size);
    .lato_weight(@weight);
}

.entypo(){
    font-family: 'entypo', symbol;
}

html {
    text-rendering: optimizeLegibility;
    font-size: @rem;
}

body {
    .lato();
}