// Resets & libraries
@import (less) "../../lib/normalize/normalize.css";
@import (less) "../../lib/css-reset/reset.css";

// Base styles & variables
@import "../base_styles/reset";
@import "../base_styles/constants";
@import "../base_styles/typography";
@import "../base_styles/mixins";
@import "../base_styles/colors";

// Additional reset rules
i {
    font-style: normal;
}
b {
    font-weight: inherit;
}

// Global rules
html {
    background-color: @light;
    color: @ink;
}

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    @import "../base_styles/scaffold";
}

i.chevron {
    .chevron();
    &.left{
        .chevron_direction(right);
    }
    &.down{
        .chevron_direction(down);
    }
    &.up{
        .chevron_direction(up);
    }
}

// Features
@import "../features/page-front/front";
@import "../features/nav-toggle/nav-toggle";