<p>TownHog was my first job in technology, just 3 months after graduating from <a href="http://www.mcgill.ca/" target="_blank">McGill</a> and moving to San Francisco.</p>
<p>There isn’t much to say about TownHog, though, other than it involved lots of careful CSS 2 (not 3, since we supported IE 6) and it tanked not long after I joined.</p>