<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Will Shown: ux, www, etc.</title>

    <% if(typeof watch !== 'undefined' && watch){ %>
    <script src="//localhost:<%= watch %>/livereload.js"></script>
    <% } %>

    <% if(typeof prod !== 'undefined' && prod) { %>
    <script src="main.min.js"></script>
    <link rel="stylesheet" href="main.min.css"/>
    <% }else{ %>
    <script src="js/lib/require.js" data-main="js/main.js"></script>
    <link rel="stylesheet" href="style/main.css"/>
    <% } %>

</head>
<body data-displaying="portfolio">

    <nav class="main">
        <ul>
            <li class="portfolio active"><a href="#portfolio">Portfolio</a></li>
            <li class="about"><a href="#about">About</a></li>
        </ul>
    </nav>

    <main>

        <section data-page="portfolio" data-displaying="splash">

            <div class="splash">
                <h1 class="row">
                    <%- assets['Will Shown'] %>
                </h1>
                <div class="row horizontal">
                    <i class="loading" data-loaded="0">
                        <%- assets['loading'] %>
                        <div class="overlay">
                            <button class="go" disabled>
                                <p>Open Portfolio</p>
                            </button>
                        </div>
                    </i>
                </div>
            </div>

            <div class="portfolio" data-displaying="all-up">

                <section class="all-up"></section>

            </div>

        </section>

        <section data-page="about">
            Doop
        </section>

    </main>

</body>
</html>