// Resets & libraries
@import (less) "../../lib/css-reset/reset.css";
@import (less) "../../lib/normalize/normalize.css";

// Base styles & variables
@import "../base_styles/reset";
@import "../base_styles/constants";
@import "../base_styles/dimensions";
@import "../base_styles/timing";
@import "../base_styles/typography";
@import "../base_styles/mixins";
@import "../base_styles/colors";

// Additional reset rules
i {
    font-style: normal;
}
b {
    font-weight: inherit;
}

// Global rules
html {
    background-color: @light;
    color: @ink;
}

html, body, main {
    height: 100%;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    @import "../base_styles/scaffold";
}

small {
    font-size: inherit;
    .lato_weight(light);
    &::before {
        content: '(';
    }
    &::after {
        content: ')';
    }
}

// Features
@import "../features/portfolio/splash";
@import "../features/portfolio/portfolio";
@import "../features/nav-main/nav-main";
@import "../features/about/about";

// Links

body {
    main {
        left: 0;
        transition: left @slow/1.5 ease;
    }
    &[data-displaying="about"] main{
            left: -100%;
    }
}

// Text styles
a {
    text-decoration: underline;
}

a[target="_blank"]::after{
    display: inline-block;
    .icons();
    content: '\e74c';
    vertical-align: super;
    font-size: .7em;
    text-decoration: none;
    margin-left: 0.1em;
}

a[target="_blank"][href*="twitter.com"]::after{
    content: '\f309';
    font-size: .6em;
}

blockquote {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: fade(white, 40%);
    color: fade(@ink, 60%);
    font-style: italic;
}

p:not(:first-child) {
    margin-top: @rr2 * 1em;
}