nav.main {
    height: (60/@rem) * 1rem;

    button.toggle {
        height: 100%;
        width: 100%;
        padding: 0 (80/@rem) * 1rem;
        .lato(1);
        font-style: italic;
        text-align: left;

        background-color: fade(@light-ink, 10%);
        background-image: url('../images/mark.svg');
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
        transition: background-color @quick linear;

        i.chevron {
            margin-left: 0.5em;
            position: relative;
            top: -.11em;
        }

        &:focus, &:hover {
            background-color: fade(average(@light-ink, @red), 18%);
        }

    }

}