nav.main {
    height: (60/@rem) * 1rem;
    background-color: fade(@light-ink, 10%);
    background-image: url('../images/mark.svg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;

    button.toggle {
        height: 100%;
        width: 100%;
        padding: 0 (80/@rem) * 1rem;
        .lato(1);
        font-style: italic;
        text-align: left;

        i.chevron {
            margin-left: 0.5em;
            position: relative;
            top: -.11em;
        }

    }

}