<p><a href="http://cardboard.coop" target="_blank">Cardboard Cooperative</a> is a web agency and workers’ cooperative that I started as a sole-proprietorship (for now). <a href="http://cardboard.coop" target="_blank">Cardboard.coop</a> is the cooperative’s responsive front page that uses only vector graphics.</p>
<p></p>