<p>An exploration was launched to explore whether the usability of <a href="https://www.bing.com/explore/windows8apps" target="_blank">Bing/MSN apps</a> could be improved by providing navigation along the left edge of the canvas.</p>
<p>A colleague and I designed and developed a touch-friendly, responsive prototype. I provided the interaction design and code for the prototype.</p>
<p>A week after showing this to our business leader, he told us <q>I can’t stop playing with the prototype.</q> Success.</p>