<p>While the prototype techincally worked, responsive design was difficult and the app was still hard to use.</p>
<p>Discussions turned from technical substrates to a redesign. During the company’s hackathon, I submitted a redesign aiming for better legibility, flexibility, and usability. This is the wireframe that launched our next series of improvements on the app.</p>