<p>While at <a href="http://apigee.com/about/" target="_blank">Apigee</a>, I was tasked with producing a prototype of <a href="https://enterprise.apigee.com" target="_blank">Apigee Enterprise’s</a> endpoint policy editor.</p>
<p>The editor would allow enterprise users to adjust the policies that apply to their APIs, such as rate limiting and transforming XML to JSON.</p>
<p>The prototype began as a simple SVG infographic that could respond to user interaction. We called it <q class="single">Thunderpony</q>.</p>