<p>While at Apigee, I was tasked with producing a prototype of Apigee Enterprise’s endpoint policy editor.</p>
<p>The editor would allow enterprise users to adjust the policies that apply to their APIs, such as rate limiting and transforming XML to JSON.</p>
<p>The prototype began as a simple SVG infographic that could respond to user interaction. We called it ‘Thunderpony’.</p>